/* .heading img {
  background: #f1f1f1;
  width: 50px;
  height: 50px;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5% 10%;
  background: rgb(212, 212, 212);
}

body h1 {
  font-size: 28px;
  color:#205153;
}

body h2 {
  font-size: 20px;
  color: #b05858;
}

body h3 {
  font-size: 16px;
  color:#c67151;
}

body img{
  height: 150px; 
  padding: 1em;
  margin: .5em;
  background: #0b5a8a;
}

body img:hover {
  background: #532220;
  cursor: pointer;
  transition: background .2s;
}

canvas {
  width: 100%;
  
}
#click-chart {
  background: #f1f1f1;
  border: 2px solid lightgray;
}